.signup-form {
    /* Set background image and styling */
    background-image: url('../Assets/Logo.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .SignUp-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    color: white;
    text-decoration: none;
  }